/* custom styles */

label.error{
	display: block;
	margin: 10px 0;
	color: #cc0000;
}
#rberrorslink{
	display: none;
}

.ui-page {
	background-image: url(../images/bg.jpg);
}

.ui-header {

}

.ui-footer {

}